In [1]:
import pandas as pd
from src.data.metrics import get_metrics

In [2]:
hparams = [
    "model_cls",
    "lr",
    "n_hidden",
    "n_layers",
    "embedding_type",
    "loc_levels",
    "time_levels",
    "time_embedding_factor",
    "dropout",
    "n_heads",
    "lambduh",
]
metrics = [
    "macro_precision",
    "macro_recall",
    "macro_f1",
    "top_5_accuracy",
    "top_1_accuracy",
]

In [3]:
models = [
    "deeptul",
    "maintul",
    "t3s",
    "bituler",
    "tulvae",
    "tulhor",
]
df =pd.concat([pd.read_json(f"../reports/{model}_grid.jsonl", lines=True) for model in models])
# df = df.fillna(0)

In [4]:
df.to_json("../reports/hparam_grid.jsonl", orient="records", lines=True, index=False)

In [ ]:
df = pd.read_json("../reports/hparam_grid.jsonl", lines=True)

In [8]:
df['model_cls'].unique()

array(['DeepTUL', 'MainTUL', 'T3S', 'BiTULER', 'TULVAE', 'TULHOR'],
      dtype=object)

In [13]:
get_metrics(df)
df = df.reset_index(drop=True)

In [17]:
max_idcs = df.groupby("model_cls")['top_1_accuracy'].idxmax()
df.loc[max_idcs][hparams]

,model_cls,lr,n_hidden,n_layers,embedding_type,loc_levels,time_levels,time_embedding_factor,dropout,n_heads,lambduh
1348,BiTULER,0.0002,1024,1,lookup,1,1,0.0625,0.0,0.0,0.0
214,DeepTUL,0.0002,1024,1,lookup,1,1,0.0625,0.0,0.0,0.0
670,MainTUL,0.0002,1024,1,lookup,1,1,0.0625,0.0,16.0,2.0
1098,T3S,0.0001,1024,1,lookup,1,1,0.0625,0.0,16.0,0.0
1655,TULHOR,0.0001,1024,1,lookup_sum,1,1,0.0625,0.0,16.0,0.0
1589,TULVAE,0.0002,1024,1,lookup,1,1,0.0625,0.0,0.0,0.0