In [2]:
import pandas as pd
from src.data.utils import get_dataloader
from src.data.metrics import get_metrics

In [2]:
hparams = [
    "model_cls",
    "lr",
    "n_hidden",
    "n_layers",
    "embedding_type",
    "loc_levels",
    "time_levels",
    "time_embedding_factor",
    "dropout",
    # "n_heads",
    # "lambduh",
]
metrics = [
    "macro_precision",
    "macro_recall",
    "macro_f1",
    "top_5_accuracy",
    "top_1_accuracy",
]

In [ ]:
models = [
    "DeepTUL",
    "MainTUL",
    "T3S",
    "BiTULER",
    "TULVAE",
    "TULHOR",
]
dfs =[pd.read_json("../reports/.jsonl", lines=True)]

In [ ]:
dfr = 
get_metrics(dfr)
dfr[hparams + metrics]

In [5]:
dfr = pd.read_json("../reports/debug_embeddings.jsonl", lines=True)
get_metrics(dfr)
dfr[hparams + metrics]

,model_cls,lr,n_hidden,n_layers,embedding_type,loc_levels,time_levels,time_embedding_factor,dropout,macro_precision,macro_recall,macro_f1,top_5_accuracy,top_1_accuracy
0,BiTULER,0.0002,1024,1,lookup_concat,3,1,0.0625,0,0.521592,0.502370,0.496936,0.7092,0.5516
1,BiTULER,0.0002,1024,1,lookup_concat,2,1,0.0625,0,0.546062,0.511108,0.506709,0.7088,0.5676
2,BiTULER,0.0002,1024,1,lookup_sum,2,2,0.0625,0,0.546151,0.520288,0.516572,0.7134,0.5770
3,BiTULER,0.0002,1024,1,lookup_sum,2,2,0.1250,0,0.555352,0.525084,0.522275,0.7098,0.5764
4,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1250,0,0.546595,0.522773,0.520006,0.7090,0.5698
5,BiTULER,0.0002,1024,1,lookup_sum,2,4,0.2500,0,0.526567,0.511991,0.507246,0.6920,0.5584
6,BiTULER,0.0002,1024,1,lookup_sum,2,4,0.1250,0,0.546595,0.522773,0.520006,0.7090,0.5698
7,BiTULER,0.0002,1024,1,lookup_sum,2,4,0.0625,0,0.549061,0.525530,0.522060,0.7166,0.5756
8,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1250,0,0.546595,0.522773,0.520006,0.7090,0.5698
9,BiTULER,0.0002,1024,1,lookup_sum,2,2,0.1250,0,0.562096,0.535342,0.531188,0.7172,0.5868
10,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1250,0,0.555028,0.532303,0.528575,0.7112,0.5810
11,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1875,0,0.555598,0.532016,0.528228,0.7120,0.5786
12,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1250,0,0.551436,0.526109,0.522907,0.7152,0.5798
13,BiTULER,0.0002,1024,1,lookup_sum,2,3,0.1250,0,0.551436,0.526109,0.522907,0.7152,0.5798
14,BiTULER,0.0002,1024,1,lookup_sum,2,2,0.1250,0,0.550395,0.527703,0.523921,0.7172,0.5816
15,BiTULER,0.0002,1024,1,lookup_sum,2,2,0.1250,0,0.562096,0.535342,0.531188,0.7172,0.5868

In [10]:
models = ['bituler', 'deeptul', 'maintul', 't3s', 'tulvae']
df = pd.concat([pd.read_json(f"../reports/{model}_grid.jsonl", lines=True) for model in models] )
df = df.fillna(0)
df = df.reset_index()

In [11]:
get_metrics(df)
best_f1_idcs = df.groupby("model_cls")['macro_f1'].idxmax()
df_best = df.loc[best_f1_idcs]

In [ ]:
df_best[
    hparams
    + metrics
].sort_values(by="macro_f1")

In [13]:
df[df.model_cls == "T3S"].sort_values(by='macro_f1', ascending=False)