In [1]:
import pandas as pd
from src.data.metrics import get_metrics

In [2]:
hparams = [
    "model_cls",
    "lr",
    "n_hidden",
    "n_layers",
    "embedding_type",
    "loc_levels",
    "time_levels",
    "time_embedding_factor",
    "dropout",
    "n_heads",
    "lambduh",
]
metrics = [
    "macro_f1",
    "top_5_accuracy",
    "top_1_accuracy",
]

In [12]:
df = pd.read_json("../reports/hparam_grid.jsonl", lines=True)
get_metrics(df, metrics)

In [13]:
max_idcs = df.groupby("model_cls")['top_1_accuracy'].idxmax()
df.loc[max_idcs][hparams+metrics]

,model_cls,lr,n_hidden,n_layers,embedding_type,loc_levels,time_levels,time_embedding_factor,dropout,n_heads,lambduh,macro_f1,top_5_accuracy,top_1_accuracy
412,BiTULER,0.0002,1024,1,lookup_concat,1,1,0.0625,0,NaN,NaN,0.510680,0.6860,0.5674
550,DeepTUL,0.0004,1024,2,lookup_concat,1,1,0.0625,0,NaN,NaN,0.492091,0.6608,0.5372
300,MainTUL,0.0002,1024,1,lookup_concat,1,1,0.0625,0,8.0,2.0,0.405630,0.5958,0.4642
193,T3S,0.0001,1024,1,lookup_sum,1,1,0.0625,0,16.0,NaN,0.374326,0.5422,0.4258
62,TULHOR,0.0001,1024,1,lookup_sum,1,1,0.0625,0,16.0,NaN,0.417606,0.5832,0.4714
461,TULVAE,0.0002,1024,1,lookup_concat,1,1,0.0625,0,NaN,NaN,0.446335,0.6594,0.5210