In [5]:
import pandas as pd
from src.data.metrics import get_metrics

In [ ]:
# df_all = pd.read_json("../reports/all_models.jsonl", lines=True, orient="records")
metrics = ["top_1_accuracy", 'top_5_accuracy', 'macro_f1']
get_metrics(df_all, metrics)
dfm = df_all.groupby(["model_cls", "dataset", "loc_levels", "n_users"])[metrics].agg(["mean", "std"]).reset_index()

In [18]:
dft = dfm[(dfm['n_users'].isin([150, 800])) & (dfm['model_cls'].isin(['BiTULER', "TULHOR"]))]
dft = dft.drop(columns=["n_users"])
dft = dft.set_index(["dataset", "model_cls", "loc_levels"])
dft = dft.sort_index()
dft*= 100
dft

/tmp/ipykernel_3103393/1002133790.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dft = dft.drop(columns=["n_users"])

                                    top_1_accuracy           top_5_accuracy  \
                                              mean       std           mean
dataset        model_cls loc_levels
foursquare_NYC BiTULER   1               60.118266  0.044682      67.200823
                         4               61.605737  0.044905      70.781470
               TULHOR    2               53.853442  0.079035      61.130060
                         4               55.560456  0.038880      64.287955
foursquare_TKY BiTULER   1               61.280729  0.058220      73.083263
                         4               62.723442  0.076480      75.951833
               TULHOR    2               54.386561  0.029319      67.238705
                         4               56.249518  0.147877      69.988144
geolife        BiTULER   1               37.561985  0.103121      70.849244
                         4               46.277771  0.212815      77.825934
               TULHOR    2               34.652298  0.064479      72.459490
                         4               42.851119  0.276655      77.489360

                                                macro_f1
                                          std       mean       std
dataset        model_cls loc_levels
foursquare_NYC BiTULER   1           0.043064  57.829871  0.080872
                         4           0.043234  59.544688  0.083067
               TULHOR    2           0.057145  50.397196  0.081979
                         4           0.047081  52.505835  0.057742
foursquare_TKY BiTULER   1           0.065440  58.955797  0.028116
                         4           0.050276  60.398839  0.094876
               TULHOR    2           0.096254  51.061105  0.020488
                         4           0.118541  53.156176  0.135905
geolife        BiTULER   1           0.198547  26.694384  0.367895
                         4           0.258514  32.957328  0.494001
               TULHOR    2           0.110390  24.920613  0.509713
                         4           0.207612  30.605041  0.363868