In [11]:
import pandas as pd
from src.data.metrics import  get_metrics

In [12]:
hparams = [
    "model_cls",
    "lr",
    "n_hidden",
    "n_layers",
    "embedding_type",
    "loc_levels",
    "time_levels",
    "time_embedding_factor",
    "dropout",
]
metrics = [
    "macro_precision",
    "macro_recall",
    "macro_f1",
    "top_5_accuracy",
    "top_1_accuracy",
]

In [26]:
n_locs = [(25443), (7461), (2459), (457), (68)]
for i in range(len(n_locs) - 1):
    print(n_locs[i]/n_locs[i+1])

3.4101326899879374
3.0341602277348514
5.380743982494529
6.720588235294118

In [22]:
import numpy as np
num_embeddings_loc = [1, 2, 3, 4]
loc_level_weights = np.geomspace(
    0.5, 2 ** -len(num_embeddings_loc), len(num_embeddings_loc)
)
loc_level_weights

array([0.5   , 0.25  , 0.125 , 0.0625])

In [47]:
df = pd.read_json("../reports/check_concat.jsonl", lines=True)
get_metrics(df, metrics)
df[hparams+["discretization_rows", "grow_factor"]+metrics].tail(10)

,model_cls,lr,n_hidden,n_layers,embedding_type,loc_levels,time_levels,time_embedding_factor,dropout,discretization_rows,grow_factor,macro_precision,macro_recall,macro_f1,top_5_accuracy,top_1_accuracy
0,BiTULER,0.0002,1024,1,lookup_sum,4,1,0.0625,0,200,3,0.684006,0.679493,0.679060,0.803830,0.691073
1,BiTULER,0.0002,1024,1,lookup_concat,4,1,0.0625,0,200,3,0.722731,0.714191,0.715816,0.804703,0.726500
2,BiTULER,0.0002,1024,1,lookup_concat,1,1,0.0625,0,200,3,0.714246,0.700007,0.703679,0.770121,0.713799
3,BiTULER,0.0002,1024,1,lookup_concat,4,1,0.0625,0,200,3,0.711149,0.699473,0.702160,0.781977,0.713010
4,BiTULER,0.0002,1024,1,lookup_concat,4,1,0.0625,0,500,4,0.712193,0.702798,0.704463,0.790763,0.716193
5,BiTULER,0.0002,1024,1,lookup_concat,4,1,0.0625,0,400,4,0.713620,0.703547,0.705343,0.794987,0.716953
6,BiTULER,0.0002,1024,1,lookup_concat,4,1,0.0625,0,400,4,0.678211,0.673093,0.672861,0.801690,0.683779

In [9]:
dft = pd.read_json("../reports/time_grid.jsonl", lines=True)
dft = dft[dft['loc_levels'] == 4]
get_metrics(dft, metrics)

In [10]:
dfm=dft.groupby(['model_cls', 'time_levels'])[metrics].mean()
dfm

                       macro_precision  macro_recall  macro_f1  \
model_cls time_levels
BiTULER   1                   0.714208      0.705964  0.707725
          2                   0.714922      0.707542  0.708930
          3                   0.715805      0.708524  0.709984
          4                   0.714268      0.707489  0.708565
TULHOR    1                   0.662410      0.657317  0.656488
          2                   0.663546      0.658002  0.657651
          3                   0.662450      0.657230  0.656581
          4                   0.663646      0.657468  0.657286

                       top_5_accuracy  top_1_accuracy
model_cls time_levels
BiTULER   1                  0.802061        0.717781
          2                  0.802332        0.718924
          3                  0.801526        0.719499
          4                  0.801267        0.718614
TULHOR    1                  0.756638        0.670763
          2                  0.757071        0.671721
          3                  0.757105        0.671191
          4                  0.756418        0.671383